{% extends 'base.html.twig' %}
{% block js %}
    {{ parent() }}
    <script>
        document.title = 'Luis Sacha Arancibia Bazan';
        var checkPersonales = false;
        $(document).ready(function () {
            //alert('Bienvenidos');
        })
        $(document).on('click', '#btnDatosPersonales', function(){
            if(!checkPersonales){
                $('#datosPersonales').show();
                checkPersonales = true;
            }else{
                $('#datosPersonales').hide();
                checkPersonales = false;
            }
        })
    </script>
{% endblock %}
{% block body %}
    <div id="wrapper" class="container-fluid">
        <div id="container">
            <div id="welcome">
                {#<h1>Luis Sacha Arancibia Bazan</h1>#}
            </div>
            <div id="opciones" class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <button type="button" id="btnDatosPersonales" class="btn btn-lg btn-primary col-xs-12 col-md-2"><span class="glyphicons glyphicons-user"></span>Datos Personales</button>
                    <button type="button" id="btnDatosAcademicos" class="btn btn-lg btn-primary col-xs-12 col-md-2">Datos Académicos</button>
                    <button type="button" id="btnExperienciaProfesional" class="btn btn-lg btn-primary col-xs-12 col-md-2">Experiencia Profesional</button>
                    <button type="button" id="btnIdiomas" class="btn btn-lg btn-primary col-xs-12 col-md-2">Idiomas</button>
                    <button type="button" id="btnContacto" class="btn btn-lg btn-primary col-xs-12 col-md-2">Contacto</button>
                </div>
            </div>

            <div id="datosPersonales" style="display: none;">
                <div>Datos Personales</div>
                <div>Nombre:</div>
                <div>Apellidos:</div>
                <div>Nombre:</div>
                <div>Nombre:</div>
            </div>
        </div>
    </div>
{% endblock %}



{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5;padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 100%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

