{% extends 'base.html.twig' %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}
{% block body %}
    <div id="wrapper" class="container-fluid">
        <div id="container">
            <div id="datosPersonales">
                <div>Datos Personales</div>
                <div>Nombre:</div>
                <div>Apellidos:</div>
                <div>Fecha de nacimiento:</div>
            </div>

            </div>
        </div>
    </div>
{% endblock %}
